/* || General setup */

html, body {
    margin: 0;
    padding: 0;
  }
  
  html {
    font-size: 10px;
  }
  
  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
  }
  
  body {
    background-color: #f5c8c8;
  }
  
  /* || typography */
  
  h1, h2, h3 {
    font-family: 'Lobster Two', cursive;
    color: #2a2a2a;
  }
  
  h1 {
    font-size: 4rem;
    text-align: center;
    text-shadow: 2px 2px 10px black;
    font-weight: 100;
  }
  
  h2 {
    font-size: 5rem;
    text-align: center;
    font-weight: 800;
  }
  
  /* || header layout */
  
  .header {
    margin-bottom: 15px;
    padding: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgba(139, 11, 11, 0.5);
    align-items: center;
  }
  
  body > * {
    background-color: rgb(247, 192, 192);
  }
  
  h1 {
    flex: 5;
    text-transform: uppercase;
    color: white;
  }
  
  .header img {
    display: block;
    height: 60px;
    padding-top: 20.15px;
  }

  /* || main layout */
  
  .description {
    background-color: rgb(245, 212, 212);
    padding: 10px;
    align-items: center;
    
    flex: 0 1 auto;
    margin-right: 15px;
  }
  
  .roles {
    background-color: rgb(245, 212, 212);
    justify-content: center;    
    align-items: flex-end;
  }

  img{
   border-radius: 4px;
   border-width: 1px;
   border-style: solid;
   width: 100px;
  }
  
  @media screen and (max-width: 1000px) {
    .container {
      justify-content: center;
    }
    .description {
      flex: 1 0 auto;
      margin-right: 0px;
    }
  }